html
	head
		title Bingo Game
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet", href="/styles/index.css")
	body
		nav.navbar.navbar-light.bg-light
			a.navbar-brand(href='#') Lynk
			a.nav-item.nav-link.text-muted(href='/bingo') Bingo


		div(style="height: 50px;")
		.container
			block content