body{
	background-color: #e8ebff;
    /*color: black;*/
    font-size: 1.5rem !important;
}

.wrapper{
    padding: 0px 3rem;
}

.wrapper-button{
    padding: 0px 2rem;
}

.two-rem{
    font-size: 2rem !important;
}

.width-num {
	width: 10vw;
	position: relative;
	border: 3px solid #e8ebff !important;
    border-radius: 8px;
    vertical-align: middle !important;

    height: 6.6vh;
    font-size: .8rem;
    padding: .5rem !important;

}

.random-num{
    font-weight: 500;
    font-size: 1.3rem;
}

.table-box{
    margin-top: 2vh !important;
}
.table-box-user{
    margin-top: 2.5vh !important;
}

button {
/*    font-size: 2rem !important;
    height: 75px;*/
    font-size: 1rem;
    height: max-content;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 1px #888 !important;
}

 
.z-index-0{
    z-index: 0;
}

.switch {
   -webkit-appearance: none;
    appearance: none;

    position: absolute;
    top: 0px;
    left: 0px;
 
    width: 100%;
    height: 100%;

    background-color: #d9dce6;
    z-index: -2;

    border-radius: 8px;

    outline: none;
    transition: all 0.15s;


}

.switch-users{
   -webkit-appearance: none;
    appearance: none;

    position: absolute;
    top: 0px;
    left: 0px;
 
    width: 100%;
    height: 100%;

    background-color: #d9dce6;

    z-index: -2;
/*opacity: 0.2;*/
    border-radius: 8px;

    outline: none;
    transition: all 0.15s;
}
/*
.switch-users:checked {
    background-color: #FFA737 !important;
    border: none;
    box-shadow: 0px 0px 3px 2px #fff;

}*/

.checked {
    background-color: #FFA737 !important;
    /*border: none;*/
    box-shadow: 0px 0px 3px 2px #fff;
}

.hidden {
    display: none;
};

.show {
    display: inline-block;
}


.flex-start {
    justify-content: flex-start !important;
    font-size: 1.3rem;
}

.colorNumber {
    background-color: #b5b8c1;
}

.label-users{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.margin-left{
    margin-left: .5rem;  
}

.old-numbers{
    font-size: .8rem;
    margin-top: 1.5vh;
    line-height: normal !important;
}

.opacity-btn{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}


.function-box {
    display: flex;
    align-items: center;
}


.function-box button {
    font-size: .8rem !important
}

/*@media(min-width: 550px){
    button {
        font-size: 1.5rem !important;
        height: 60px;
    }
    .width-num {
        height: 5rem;
    }
    .table-box{
        margin-top: 30px !important;
    }
    .old-numbers{
        font-size: 1.4rem;
        margin-top: 15px;
    }
}*/





